<html>

<head>
    <link rel="stylesheet" href="views/app.css">
</head>

<body>
    <form action="/user" method="post">
        <!--h4>Login</h4-->
        <div class="input-field">
            <input type="text" name="username" id="username" placeholder="Enter Username">
        </div>

        <!--div class="input-field">
            <input type="email" name="email" id="email" placeholder="EMail">
        </div-->

        <div class="input-field">
            <input type="password" name="password" id="password" placeholder="Enter Password">
        </div>

        <input type="submit" value="Submit">

    </form>
</body>

</html>